@font-face {
  font-family: SpaceMono;
  src: url(./SpaceMono-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: SpaceMono;
  src: url(./SpaceMono-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: SpaceMono;
  font-weight: normal;
  font-size: 12px;
}

.table {
  width: 86%;
  margin: auto;
}

td, th {
  text-align: left;
  vertical-align: top;
  height: auto;
}

tr {
  margin: 25px 0px 25px 0px;
}

.root {}

.header-wrapper {
  top: 0;
  position: fixed;
  background-color: #285991;
  width: 100%;
}

.header {
  width: 86%;
  margin: auto;
  color: #FFFFFF;

  font-weight: bold;
}

.logo {
  font-size: 26px;
  padding: 12px 0px 12px 0px;
  text-decoration: underline;
  cursor: pointer;
}

#filters {
  max-height: 100vh;
  font-size: 20px;
  padding-bottom: 17px;
  overflow: auto;
  transition: max-height 0.2s ease-out;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.highlighted {
  cursor: pointer;
  color: #FFDF82;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #285991;

  display: flex;
  align-items: center;

  padding: 0px 10px 0px 10px;
  margin: 0px 10px 10px 0px;
}

.table-wrapper {
  margin-top: 400px;
}

.row {
  border-bottom: 1px solid #CCCCCC;
  padding: 25px 0px 25px 0px;
  display: flex;
}

.headers {
  font-weight: bold;
  font-size: 9px;
  border-bottom: none;
  text-decoration: underline;
}

.col {
  margin-right: 2%;
}

.headers > .col1, .headers > .col3, .headers > .col4 {
  cursor: pointer;
}

.col1 {
  font-weight: bold;
  width: 21%;
}

.col2 {
  width: 36%;
}

.col3 {
  width: 16%;
}

.col4 {
  width: 10%;
}

.col5 {
  width: 10%;
}

.table-wrapper {
  display: flex;
}

.course-title {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {

  .row {
    flex-wrap: wrap;
  }

  .headers {
    display: none;
  }

  .col {
    margin-right: 0;
    padding-right: 2%;
  }

  .col1 {
    width: 32%;
  }

  .col2 {
    width: 64%;
  }

  .col3, .col4, .col5 {
    margin-top: 20px;
    width: 31%;
  }
}